<%#-- <h2><%= t('.sign_up') %></h2> %>

<h2>User Dashboard </h2>


<div class="row">
  <div class="col-sm-12">
    <b>DADOS PESSOAIS</b>
  </div>
  <hr  style="margin-bottom: 0px">
  <div class="col-sm-6 ">
    <b>Nome:</b> <%=@user.name.upcase %><br>
    <b>Email:</b> <%=@user.email.upcase %><br>
    <b>CPF:</b> <%=@user.cpf %><br>
    <b>Data de nascimento:</b> <%=@user.birthdate %>

    <b>RG:</b> <%=@user.rg %><br>
    <b>Gênero:</b> <%=@user.gender.upcase %><br>
    <b>Telefone:</b> <%=@user.phone %><br>
    <b>Celular:</b> <%=@user.cel%><br>

    <b>Endereço:</b><%=@user.address%><br>
    <b>Número:</b><%=@user.address_number%><br>
    <%if !@user.address_complement.nil? %>
    <b>Complemento:</b><%=@user.address_complement%><br>
    <%end%>
    <b>Cidade: </b><%=@user.city%><br>

  </div>
</div>


  <%# Colocar um IF abaixo para caso o email fornecido
  e o email de confirmação sejam diferentes  %>
