<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sonu_event.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @sonu_event.info %>
</p>

<%= link_to 'Edit', edit_sonu_event_path(@sonu_event) %> |
<%= link_to 'Back', sonu_events_path %>
